:root{
	--main:tomato;
	--accent: goldenrod;
	--light-accent: rgba(255, 183, 0, 0.404);
	--black:#111;
	--grey:#454545;
	--light-grey:#45454531;

}




html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/*custom styles*/

body{
	font-family: 'Arbutus Slab', serif;
	font-size: 1.2rem;
	line-height: 1.4;
	color: var(--black);
}

.wrap{
	padding: 1rem;
}

h1,h2,h3,h4,h5{
	text-transform: capitalize;
}

img{
	max-width: 100%;
	border-radius: 8px;
	margin:1.5rem 0;
	border: 1px solid var(--light-grey);
}

a{
	text-decoration: none;
	color: var(--accent);
	font-weight: 600;
	transition: all .32s ease-in-out;
}

a:hover{
	color: var(--main);
}


main, header, footer{
	max-width: 36rem;
	margin:  0 auto;
}

header{
	display: flex;
	padding: 1rem 0;
	margin-top: 1rem;
	align-items: center;
	justify-content: space-between;
}
header em{
	margin-right: 2rem;
}
header em a{
	font-size: 1.6rem;
}

.page-title{
	margin: .5rem 0 1rem;
	padding: 0 6px;
	background-color: var(--light-accent);
	display: inline-block;

}

 nav ul{
	display: flex;
	justify-content: space-between;
}

nav li{margin-right: .75rem;}

nav a{
	color: var(--grey);
	font-size: 1.2rem;
}

nav a:hover{
	text-decoration: underline;
}

h1{
	font-size: 1.6rem;
}



.post{
	padding: 1rem 0;
}

.post h3{
	font-size: 1.35rem;
	line-height: 1.5;
}

.post .meta, .meta a{
	font-size: .75rem;
	color: var(--grey);
}

.tags{
	font-size: .75rem;
	margin-top: 1rem;
}

.tags a {
	padding: 4px 6px;
	margin-right: .5rem;
	color: var(--grey);
	border-radius: 4px;
	background-color:var(--light-grey) ;
}


.post-nav{
	margin:2rem 0 0;
	padding: 1rem;
	background: var(--light-accent);
}


.form-block{
	background: var(--light-accent);
	padding: 1rem;
	border-radius: 8px;
	margin: 1rem 0;;
}
.blog-form-title{
	margin-bottom: .5rem;
}
.blog-form{
	width: 100%;
	display: grid;
	grid:  1fr / 1fr 1fr .5fr ;
	gap:.5rem;

}

.blog-form input{
	border:0;
	height: 40px;
	text-indent: 10px;
	font-family: inherit;

}

.blog-form button{
	font-family: inherit;

	font-size: 1rem;
	border: 0;
	background-color: var(--black);
	color: white;
	border-radius: 4px;
	transition: all .37s ease-in-out;
}

.blog-form button:hover{
	transform: translateZ(-6px) scale(.95);
	background: var(--main);
}

a.project{
	background: var(--black);
	border:0; padding:8px 21px; font-size:1rem;font-family:inherit; text-transform:capitalize;margin-top:1rem; transition: all .27s ease-in-out;display: inline-block;
}

a.project:hover{
	color: var(--black);
	background: var(--accent);
	transform: translateZ(8px) scale(0.95);
}

@media only screen and (max-width: 440px){

	

}