:root{
	--main:tomato;
	--accent: goldenrod;
	--light-accent: rgba(255, 183, 0, 0.404);
	--black:#00364D;
	--grey:#454545;
	--light-grey:#45454531;
	--bg:#f9f5ec;

}


html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/*custom styles*/

body{
	font-family: 'DM Sans', sans-serif;
	font-size: 1.5rem;
	line-height: 1.5;
	color: var(--black);
	background-color: var(--bg);
}

.wrap{
	padding: 1rem;
}

h1,h2,h3,h4,h5{
	font-weight: bold;
	line-height: 1.3;
}

img{
	max-width: 100%;
	border-radius: 8px;
	margin:1.5rem 0;
	border: 1px solid var(--light-grey);
}

a{
	text-decoration: none;
	color: var(--accent);
	font-weight: 600;
	transition: all .32s ease-in-out;
}

main, header, footer{
	max-width: 740px;
	margin:  0 auto;
}

header{
	display: flex;
	padding: 1rem 0;
	margin: 1rem auto 2rem;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid var(--black);
}


.page-title{
	margin: .5rem 0 1rem;
	padding: 0 6px;
	background-color: var(--light-accent);
	display: inline-block;

}

 nav ul{
	display: flex;
	justify-content: space-between;
}

nav li{margin-right: .75rem;}

nav a{
	color: var(--grey);
	font-size: 1.2rem;
}

nav a:hover{
	text-decoration: underline;
}

h1{
	font-size: 1.35rem;
	padding:2rem 0 4rem;
}

h1 span{
	font-size: 4.5rem;
	display: block;
	text-transform: capitalize;
}

h2{font-size: 2rem;}

a.project{
	background: var(--black);
	border:0;
	border-radius: 4px;
	padding:8px 21px;
	font-size:1rem;
	font-family:inherit;
	text-transform:capitalize;
	margin-top:1rem;
	transition: all .27s ease-in-out;
	display: inline-block;
}

a.project:hover{
	color: var(--black);
	background: var(--accent);
	transform: translateZ(8px) scale(0.95);
}

@media only screen and (max-width: 440px){

	

}