<div class='form-block'>
<h3 class='blog-form-title'>Subscribe to the blog</h3>
<form name="contact" method="POST" action="https://submit-form.com/cF0vXHdB" class='blog-form'>
    <input type="text" name="name" placeholder="what's your name?"/>
    <input type="email" name="email" placeholder="what's your email?" />
    <button type="submit">Subscribe</button>
</form>
</div>