<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- COMMON TAGS -->
<meta charset="utf-8">
<title>isaaac.me</title>
<!-- Search Engine -->
<meta name="description" content="isaac feldman is a designer and developer who sometimes builds stuff online.">
<meta name="image" content="/img/share-img.jpg">
<!-- Schema.org for Google -->
<meta itemprop="name" content="isaaac.me">
<meta itemprop="description" content="isaac feldman is a designer and developer who sometimes builds stuff online.">
<meta itemprop="image" content="/img/share-img.jpg">
<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="isaaac.me">
<meta name="twitter:description" content="isaac feldman is a designer and developer who sometimes builds stuff online.">
<meta name="twitter:site" content="@isaaacme">
<meta name="twitter:creator" content="@isaaacme">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="isaaac.me">
<meta name="og:description" content="isaac feldman is a designer and developer who sometimes builds stuff online.">
<meta name="og:image" content="/img/share-img.jpg">
<meta name="og:url" content="https://isaaac.me ">
<meta name="og:site_name" content="isaaac.me">
<meta name="fb:app_id" content="1082068818554610">
<meta name="og:type" content="website">

  <title>{{ renderData.title or title or metadata.title }}</title>
  <meta name="description" content="{{ metaDescription or renderData.metaDescription or metadata.description }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap" rel="stylesheet">
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
</head>
