<!-- COMMON TAGS -->
<meta charset="utf-8">
<title>isaaac.me</title>
<!-- Search Engine -->
<meta name="description" content="isaac feldman is a designer and developer who sometimes builds stuff online.">
<meta name="image" content="https://isaaac.me/share-img.jpg">
<!-- Schema.org for Google -->
<meta itemprop="name" content="isaaac.me">
<meta itemprop="description" content="isaac feldman is a designer and developer who sometimes builds stuff online.">
<meta itemprop="image" content="https://isaaac.me/share-img.jpg">
<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="isaaac.me">
<meta name="twitter:description" content="isaac feldman is a designer and developer who sometimes builds stuff online.">
<meta name="twitter:site" content="@isaaacme">
<meta name="twitter:creator" content="@isaaacme">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="isaaac.me">
<meta name="og:description" content="isaac feldman is a designer and developer who sometimes builds stuff online.">
<meta name="og:image" content="https://isaaac.me/share-img.jpg">
<meta name="og:url" content="https://isaaac.me ">
<meta name="og:site_name" content="isaaac.me">
<meta name="fb:app_id" content="1082068818554610">
<meta name="og:type" content="website">