---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---
<div>
<img src="../static/img/blog.jpg" alt="blog" style='width:100%;'>
</div>
<h1 class='page-title'>{{ title }}</h1>


{{ layoutContent | safe }}

{% set postslist = collections.post %}
{% include "components/postslist.njk" %}
